:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--color-text);
  background-color: var(--color-background-900);
}

.container {
  background-color: var(--color-background-900);
  width: 100vw;
  height: 100vh;
  padding: 3vh;
  box-sizing: border-box;
}

.navbar {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3.2rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.logo {
  font-weight: 900;
}

.search {
  border: none;
  background-color: var(--color-primary-light);
  color: var(--color-text);
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  width: 20rem;
}

.search::placeholder {
  color: var(--color-text-dark);
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.box {
  width: 49%;
  height: 80vh;
  border-radius: 0.5rem;
  background-color: var(--color-background-500);
  position: relative;
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

::-webkit-scrollbar {
  width: 0px;
}
.box-btn {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  height: 1.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-family: sans-serif;
  /* font-size: 1.5rem; */
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  position: relative;
  margin-top: 0.5rem;
}

.list li {
  height: 20vh;
  list-style: none;
  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  cursor: pointer;
}

.list li img {
  height: 13vh;
  width: 8vw;
}

.remove-movie {
  font-weight: bolder;
  border: none;
  padding: 0.1rem 0.45rem;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-red);

  position: absolute;
  right: 1rem;
  /* top: 10px; */
}

.remove-movie:hover {
  background-color: var(--color-red-dark);
}

.list-hover-effect:hover {
  background-color: var(--color-background-100);
}

.summary {
  font-size: 0.8rem;
  padding: 1.5rem 3rem;
  border-bottom: 1px solid var(--color-background-100);
  border-radius: 0.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}
.summary-details {
  display: flex;
  justify-content: space-between;
}

.full-star {
  color: orange;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.movie-details p {
  width: 90%;
}

.btn-movie-details {
  padding: 0.2rem 0.4rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.details {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.details img {
  height: 12rem;
  display: flex;
}

.details div {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.star-container {
  background-color: var(--color-background-100);
  border-radius: 0.5rem;
  width: 90%;
  padding: 1rem 2rem;
}
.add-to-list {
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  box-shadow: 2px 4px 8px black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media screen and (min-width: 900px) {
  .main {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
  .box {
    width: 40%;
  }

  .list li img {
    width: 6vw;
  }
}
